page-home {


      .ta{
        width: 100%;
      }

      .se{
        width: 49%;
      }

      .pr{
        width: 49%;
      }





      
    .a {
        margin-left: 40%;
      } 

    .aa {
        margin-left: 30%;
      } 




      .g{
          width: 100%;
      }

    .c{
        width: 49%;
    }


      .r{
          margin-left: 25%;
      }

      .p{
        margin-left: 15%;
      }

      .pp{
        margin-left: 12%;
      }
}
