page-shoping-places {
    ion-card.adv-map p {
        font-size: 0.7em !important;
      }
      ion-card agm-map {
        height: 200px;
      }
      button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
      }
      
      .item-bold {
        font-weight: bold;
      }
      
      .cards-bg {
        background-color: #f4f4f7;
      }
      .grid ion-row .first
      {
       color:red;
       text-align: left;
      }  
     .gridrow
      {
       position: relative;
       left:25px;
      }
     .Rating
     {
      position: relative;
      display: block;
     }

}
