

<ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    full colur="light"
    (click)="searchbar()">
</ion-searchbar>

<div *ngIf="isauthinticated">
    <div>

        <h1 style="text-align: left" *ngIf="recommandeditem?.length>0">Recommended</h1>

        <div style="display: block" *ngIf="recommandeditem?.length>0" >
            <div style="display: inline-block"> 
                <ion-item *ngFor="let m of recommandeditem;">
                    <ion-thumbnail slot="start">
                    <img src="m?.ImageURL">
                    </ion-thumbnail>
                </ion-item>
            </div>
        </div> 
        
        <div style="text-align: center" *ngIf="recommandeditem?.length>0" >
             <button 
                ion-button color="danger" round
                (click)="Recommended()">
                Show More
             </button>
        </div>
        
        <h1 style="text-align: left" *ngIf="recentsearch?.length>0">Recent Search</h1> 
        
        <div style="display: block" *ngIf="recentsearch?.length>0">
            <ion-item *ngFor="let item of recentsearch; let i=index;">
                <p *ngIf="i<2"  list-start> {{ item?.timestamp | date }} </p>
                <h1 *ngIf="i<2" style="text-align: center" item-none > {{ item.text }} </h1>
                <ion-icon *ngIf="i<2" name="trash" item-end (click)="RemoveSearch(item.id)"></ion-icon>
            </ion-item>
        </div>
        
        
        <div style="text-align: center" *ngIf="recentsearch?.length>0">
            <button 
               ion-button color="danger" round
               (click)="ShowMore()">
               Show More
            </button>
        </div>
        
        
        
        <h1 style="text-align: left" *ngIf="popualeritem?.length>0">Popualer Searches</h1> 
        
        
            <div style="width:80px;height:60px; display: block;" class="ion-text-center" *ngIf="popualeritem?.length>0">
                <div style="display: inline-block" >
                    <ion-item *ngFor="let r of popualeritem;" >
                        <ion-avatar start>
                            <img src="r?.ImageURL">
                        </ion-avatar>
                        <h4>{{ r?.text }}</h4>
                    </ion-item>
                </div>
            </div>
    </div>
</div>

