<ion-header mode="md" >
    <page-top-bar  Pagetitle="Setting" Noifictaion="1"></page-top-bar>
</ion-header>



<ion-content padding>
  <div id="Photo">     
    <ion-avatar id="avatar">
       <img *ngIf="imagePath" src="{{imagePath}}">
       <img *ngIf="imagePath==''" src="../assets/imgs/download.jpg">
    </ion-avatar>
    <ion-fab right bottom id="fabs">
      <button  ion-fab icon-only (click)="showActionSheet()">
        <ion-icon name="camera" color="blue"></ion-icon>
      </button>
    </ion-fab>
  </div> 
   
  <!-- <ion-grid>
     <ion-row>
       <ion-col text-center>
          <ion-note color="primary" id="note">Update the profile photo</ion-note>
       </ion-col>
     </ion-row>
<ion-row>
      <ion-col>
        <button ion-button block outline color="danger"  round  type="button" icon-start  (click)="Usecamera()">
          <ion-icon name='camera'></ion-icon>
           Use Camera
        </button>
      </ion-col>
      <ion-col>
          <button ion-button block outline color="danger" round type="button" icon-start  (click)="UploadImage()">
           <ion-icon name='image'></ion-icon>
            Upload Image
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <form #form="ngForm" (ngSubmit)="SaveChanges(form)">
    <ion-list>
      <ion-list-header color="danger">
          <ion-icon name="information-circle" item-start></ion-icon> 
       Update your information 
      </ion-list-header>  
      <ion-item>
        <ion-label color="primary" stacked>First Name</ion-label>
        <ion-input type="text"  name="FirstName" placeholder="First Name"  required [ngModel]="user?.FirstName" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Last Name</ion-label>
        <ion-input type="text" name="LastName" placeholder="Last Name"  required [ngModel]="user?.LastName" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>User name</ion-label>
        <ion-input type="text" name="Username" placeholder="Last Name" required [ngModel]="user?.UserName" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" name="Email" placeholder="Email"  required [ngModel]="user?.Email" clearInput="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Old Password</ion-label>
        <ion-input type="password" name="OldPassword"  placeholder="Old Password"  required [ngModel]="user?.Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>New Password</ion-label>
        <ion-input type="password" name="newPassword" placeholder="new Password"  required [ngModel]="user?.Password" (ngModelChange)="showConfirm()"></ion-input>
      </ion-item>
      <ion-item *ngIf="changePassword==true">
        <ion-label color="primary" stacked>Confirm Password</ion-label>
        <ion-input type="password" name="ConfirmPassword" placeholder="new Password"  required ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">App Start in</ion-label>
        <ion-select  ngModel="Scanner" name="Appstart" interface="alert"   placeholder="App Start"  cancelText="Dismiss" okText="Okay">
          <ion-option value="Scanner" >Scanner</ion-option>
          <ion-option value="Profile">Profile</ion-option>
          <ion-option value="Search">Search</ion-option>
        </ion-select>
      </ion-item>
      <ion-item >
        <button ion-button type="submit" round block color="danger"  [disabled]="!form.valid">
          <ion-icon name="done-all" item-start></ion-icon>
          SaveChanges
        </button>
      </ion-item>
    </ion-list>
  </form>
  <button ion-button outline block color="danger" (click)="LogOut()" icon-start>
     <ion-icon name="log-out"></ion-icon>
       Log Out
  </button> 
</ion-content>
<page-fab-camera></page-fab-camera>
