<ion-header mode="md" >
    <page-top-bar  [Pagetitle]="Setting" Noifictaion="1"></page-top-bar>
</ion-header>



<ion-content padding>
  <div id="Photo">     
    <ion-avatar id="avatar">
       <img *ngIf="imagePath" src="{{imagePath}}">
     <img *ngIf="imagePath==''" src="../assets/imgs/download.jpg">
    </ion-avatar>
    <ion-fab right bottom id="fabs">
      <button  ion-fab icon-only (click)="showActionSheet()">
        <ion-icon name="camera" color="blue"></ion-icon>
      </button>
    </ion-fab>
  </div> 
  <!--<ionic3-star-rating 
  (click)="getrate()"
  activeIcon = "ios-star"
  defaultIcon = "ios-star-outline"
  activeColor = "#FFDF00" 
  defaultColor = "grey"
  readonly="false"
   [rating]="4">
  </ionic3-star-rating>
 <ion-grid>
     <ion-row>
       <ion-col text-center>
          <ion-note color="primary" id="note">Update the profile photo</ion-note>
       </ion-col>
     </ion-row>
<ion-row>
      <ion-col>
        <button ion-button block outline color="danger"  round  type="button" icon-start  (click)="Usecamera()">
          <ion-icon name='camera'></ion-icon>
           Use Camera
        </button>
      </ion-col>
      <ion-col>
          <button ion-button block outline color="danger" round type="button" icon-start  (click)="UploadImage()">
           <ion-icon name='image'></ion-icon>
            Upload Image
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <form #form="ngForm" (ngSubmit)="SaveChanges(form)">
    <ion-list>
      <ion-list-header color="danger">
          <ion-icon name="information-circle" item-start></ion-icon> 
       Update your information 
      </ion-list-header> 

      <ion-item [ngClass]="{'inputErorr': FirstName.touched && FirstName.dirty && !FirstName.valid}">
        <ion-label color="primary" stacked>First Name</ion-label>
        <ion-input type="text"  name="FirstName" placeholder="First Name is required"  #FirstName="ngModel" pattern="[a-zA-z]+" required [ngModel]="user?.FirstName" clearInput="true"></ion-input>
      </ion-item>
      <div class="error" *ngIf="FirstName.touched && FirstName.dirty && !FirstName.valid">
          <div  *ngIf="FirstName.errors.pattern">
              <p>First Name can conatain only Letters capital or small.</p> 
          </div>
      </div>

      <ion-item [ngClass]="{'inputErorr': LastName.touched && LastName.dirty && !LastName.valid}">
        <ion-label color="primary" stacked>Last Name</ion-label>
        <ion-input type="text" name="LastName" placeholder="Last Name is required"  #LastName="ngModel" pattern="[a-zA-z]+" required  [ngModel]="user?.LastName" clearInput="true"></ion-input>
      </ion-item>
      <div class="error" *ngIf="LastName.touched && LastName.dirty && !LastName.valid">
          <div *ngIf="FirstName.errors.pattern">
              <p>Last Name can conatain only Letters capital or small.</p> 
          </div>
      </div>

      <ion-item [ngClass]="{'inputErorr': Username.touched && Username.dirty && !Username.valid}">
        <ion-label color="primary" stacked>User name</ion-label>
        <ion-input type="text" name="Username" placeholder="User Name is required"  #Username="ngModel" pattern="[a-zA-Z0-9 _-]+" required  [ngModel]="user?.UserName" clearInput="true"></ion-input>
      </ion-item>
      <div class="error" *ngIf="Username.touched && Username.dirty && !Username.valid">
        <div  *ngIf="Username.errors.pattern">
            <p>User Name can conatain only Letters and numbers or underscore or - or space.</p> 
        </div>
      </div>

      <ion-item [ngClass]="{'inputErorr': Email.touched && Email.dirty && !Email.valid}">
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" name="Email" placeholder="Email is required"   #Email="ngModel" pattern="([a-zA-Z0-9_.-]+@([a-zA-Z0-9_-]+).+[a-zA-Z0-9_]{2,})+" required  [ngModel]="user?.Email" clearInput="true"></ion-input>
      </ion-item>
      <div class="error" *ngIf="Email.touched && Email.dirty && !Email.valid">
          <div  *ngIf="Email.errors.pattern">
              <p>must match this pattern "example@example.domain" .</p>
          </div>
      </div>

      <ion-item *ngIf="changePassword == false">
        <ion-label color="primary" stacked>Password</ion-label>
        <ion-input  disabled="true" type="password" name="Password"  placeholder="Password"  required [ngModel]="user?.Password"></ion-input>
      </ion-item>
      <ion-item *ngIf="changePassword == false">
          <button ion-button round  color="danger" (click)="ChangePassword()">
            Change Password
          </button>
      </ion-item>

      <div class="changePassword" *ngIf="changePassword == true">
        <ion-item-group>
         <ion-item-divider color="light">Update your password</ion-item-divider>
          <ion-item [ngClass]="{'inputErorr': OldPassowrderror }">
              <ion-label color="primary" stacked>Old Password</ion-label>
              <ion-input type="password" name="ConfirmOldPassword"  placeholder="Rewrite your old Password is required" #OldPassword="ngModel" pattern="" required ngModel></ion-input>
          </ion-item>

          <ion-item [ngClass]="{'inputErorr': (newPassword.touched && newPassword.dirty && !newPassword.valid) || ConfirmPassowrderror }">
              <ion-label color="primary" stacked>New Password</ion-label>
              <ion-input type="password" name="newPassword" placeholder="New password is required" #newPassword="ngModel" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^!&+=._*/-])([a-zA-Z0-9@#$%^!&+=*._/-])+" required ngModel></ion-input>
          </ion-item>
          <div class="error" *ngIf="newPassword.touched && newPassword.dirty && !newPassword.valid">
            <div  *ngIf="newPassword.errors.pattern">
                <p>Password can contain only a number, a lowercase, a uppercase, and a special character</p> 
            </div>
          </div>
          <ion-item [ngClass]="{'inputErorr': ConfirmPassowrderror}">
              <ion-label color="primary" stacked>Confirm Password</ion-label>
              <ion-input type="password" name="ConfirmPassword" placeholder="Rewrite the new password is required"  required ngModel></ion-input>
          </ion-item>
        </ion-item-group>  
      </div>

      <ion-item>
        <ion-label color="primary">App Start in</ion-label>
        <ion-select  ngModel="Scanner" name="Appstart" interface="alert"   placeholder="App Start"  cancelText="Dismiss" okText="Okay">
          <ion-option value="Scanner" >Scanner</ion-option>
          <ion-option value="Profile">Profile</ion-option>
          <ion-option value="Search">Search</ion-option>
        </ion-select>
      </ion-item>

      <button ion-button type="submit" round block color="danger"  icon-start >
          <ion-icon name="done-all" item-start></ion-icon>
          Save Changes
      </button>

    </ion-list>
  </form>

  <button ion-button outline block color="danger" (click)="LogOut()" *ngIf="isauth" icon-start>
     <ion-icon name="log-out"></ion-icon>
       Log Out
  </button> 

  <button ion-button outline block color="danger" (click)="Login()" *ngIf="!isauth" icon-start>
    <ion-icon name="log-out"></ion-icon>
      Log in
   </button>

</ion-content>
<page-fab-camera></page-fab-camera>
