<ion-header>
    <page-top-bar Pagetitle="Scannned Product" [Noifictaion]="UnreadNotificationNumber"></page-top-bar>
</ion-header>

<br><br>
 

<ion-content>


<ion-grid class="g">
  <ion-row *ngFor="let Scanned of ScannedProducts;let i = index" >
     <ion-col class="c" >
       <ion-card *ngIf="Scanned?.Blocked == false ">
          <img src="{{Scanned?.ImageURL}}">
          <div *ngIf="Scanned?.product != '' ">
            <ion-card-content>
              <ion-card-title>
                  {{Scanned.ProductDetail?.name}}
              </ion-card-title>
              <ion-row>
                <ion-col>Category</ion-col>
                <ion-col> {{Scanned.ProductDetail.product_Category?.Name}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Brand</ion-col>
                <ion-col> {{Scanned.ProductDetail.product_Brand?.Name}}</ion-col>
              </ion-row>
            </ion-card-content>
            <ion-row>
                <ion-col>
                    <button ion-button block round outline color="danger" (click)="detail(Scanned?.ProductDetail)">
                      details
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button block outline (click)="Delete(i,Scanned?.id)">Delete</button>
                </ion-col>
            </ion-row>
          </div> 
          <div *ngIf="Scanned?.product == '' ">
              <ion-card-content>
                  <ion-card-title>
                      This scan didn't satisfy
                  </ion-card-title>
              </ion-card-content>
              <ion-row>
                  <ion-col>
                      <button ion-button block outline (click)="Delete(i,Scanned?.id)">Delete</button>
                  </ion-col>
              </ion-row>
          </div> 
     </ion-card>
    </ion-col> 
   </ion-row>
 </ion-grid>
</ion-content>
<page-fab-camera></page-fab-camera>
