<ion-header>
    <page-top-bar Pagetitle="Scannned Product" [Noifictaion]="UnreadNotificationNumber"></page-top-bar>
</ion-header>

<br><br>
 

<ion-content>


<ion-grid class="g">
  <ion-row *ngFor="let Scanned of ScannedProducts" >
     <ion-col class="c" >
       <ion-card >
     
         <ion-item class="r">
             <ion-avatar  >
                 <img src="{{Scanned?.ImageURL}}">
             </ion-avatar>
         </ion-item>
        <ion-item *ngIf="Scanned?.product != '' ">
             <p >{{Scanned.ProductDetail?.name}}</p>
             <br>
             <button class="pp" ion-button clear (click)="detail(Scanned?.ProductDetail)" >details</button>
        </ion-item>
        <ion-item *ngIf="Scanned?.product == '' ">
            <p >this scan has no product</p>
       </ion-item>
     </ion-card>
     </ion-col> 
 
  </ion-row>
 </ion-grid>


</ion-content>
<page-fab-camera></page-fab-camera>
