page-scanned-products {



    .g{
        width: 100%;
    }

  .c{
      width: 49%;
  }


    .r{
        margin-left: 25%;
    }

    .p{
      margin-left: 15%;
    }

    .pp{
      margin-left: 12%;
    }

}
